.reservation {
  padding: 100px 0 120px;
  background: url('../images/background_reservation.svg') no-repeat center #d9e7ff;
  font-style: normal;
  font-weight: normal;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
}